/* general properties */
html{
    max-width: 1440px;
    margin: auto;
    scroll-behavior: smooth;
}
body{
    margin: 0 50px 0 50px;
}
ul{
    list-style-type: none;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}
h2{
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}
h3{
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
h4{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
p{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}


/* header properties */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.logo-booki{
    width: 60px;
    height: 20px;
}
.main-menu{
    display: flex;
    flex-direction: column;
}
.main-menu ul{
    display: flex;
    flex-direction: row;
}
.main-menu a{
    width: 160px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: 2px solid transparent;
}
.main-menu a:hover{
    border-top: 2px solid #0065FC;
}
.main-menu a:hover{
    color:#0065FC;
}
.main-menu li{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

/* search section */
.search-section p{
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}
.search-bar{
    display: flex;
    flex-direction: row;
    height: 50px ;
    margin-top:20px;
}

/* location dot rules */
.location-dot{
    width: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border:1px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}
.location-dot i{
    font-size: 18px;
}

/* search form rules: */
input[type="search"]{
    width: 100%;
    margin-left: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}
.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 245px;
    padding-top:3px;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
}
.input-search::placeholder{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: black;
}

/* submit button rules: */
button[type="submit"]{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: white;
}
.search-button-desktop{
    padding: 13px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
}

/* Filter properties */
.filter-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter-container p{
    margin-right: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.filter-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}
.filter{
    height: 50px;
    padding: 5px 15px  5px 10px;
    border: 2px solid #D9D9D9;;
    background: none;
    border-radius: 25px;
    cursor: pointer;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
}
.filter i{
    padding: 5px;
    color: #0065FC;
}
.filter:hover{
    background-color:#DEEBFF;
}
.info-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info-circle{
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: #D9D9D9 solid 1px;
    border-radius: 50%;
}
.info-circle i{
    font-size: 15px;
    color: #0065FC;
}
.info-container p{
    margin: 10px;
}
/* Results section properties  */
#results-section{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

/* City-results-grid properties */
.city-results{
    max-width: 880px;
    width: 100%;
    box-sizing: border-box;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
}
.city-results-content{
    display: grid;
    grid-template-rows: 30px 1fr 45px;
    gap: 30px;
}
.accommodation-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
}

/* Accommodation-card porperties */

.link-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.accommodation-card{
    min-width: 100px;
    max-width: 246px;
    width: 100%;
    height: 199px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  124px 75px;
    background-color:white;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.2);
}

.accommodation-picture-container{
    max-height: 124px;
    padding: 5px;
}

.accommodation-caption-container p{
    font-size: 14px;
}
.accommodation-picture-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.accommodation-caption-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 5px 5px 10px;
}
.rate-stars i{
    font-size: 12px;
    color: #0065FC;
}
.gray-star i{
    color: #F2F2F2;
}

/* Show-more-button properties */
.container-show-more-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.show-more-button{
    margin: 0;
    padding: 0;
    background-color:transparent;
    border: none;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

/* Popular properties*/
.popular-results{
    min-width: 280px;
    max-width: 420px;
    box-sizing: border-box;
    background-color: #F2F2F2;
    border-radius:20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.popular-title h2{
    margin-right: 40px;
}
.popular-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.popular-card-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.popular-title{
    max-width: 343px;
    box-sizing: border-box;
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.popular-title i{
    color:#0065FC;
}

/* Popular-card Properties */
.popular-card{
    min-width: 220px;
    max-width: 343px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 40% 2fr;
    grid-template-rows:144px;
}
.popular-picture-container{
    margin: 5px 0px 5px 5px;
}
.popular-picture-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
.popular-caption-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 5px 8px 15px;
}
.popular-caption p{
    margin-top: 5px;
    font-size: 14px;
}

/* Activities Properties */
#activities-section{
    margin-top: 60px;
}
#activities-section h2{
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 25px;
}
.activities-grid{
    max-height: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.activities-card{
    min-width: 182px;
    max-width: 302px;
    width: 100%;
    background-color:white;
    border-radius: 25px;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 389px 56px;
}
.activities-picture-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.activities-caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

/* Footer Properties */
footer{
    margin-top: 60px;
}
.footer-container{
    height: 225px;
    background-color:#F2F2F2;
}
.footer-content{
    padding: 45px 70px 0px 70px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 18%;
}
.footer-categories{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.footer-menu ul{
padding: 0;
}
.footer-menu a{
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
}
.footer-menu li{
    margin-top: 10px;
}


/* Tablet media queries */
@media screen and (min-width: 768px) and (max-width: 992px){
    /*search-content-responsive */
    .filter-button-container {
        gap: 5px;
    }
    .filter{
        padding: 5px;
    }

    /* city-results-responsive */
    #results-section{
        display: flex;
        flex-direction: column;
    }
    .city-results{
        height: 626px;
    }
    .popular-results{
        display: flex;
        flex-direction:column;
        justify-content: center;

        max-width: inherit;
        max-height:280px;
    }
    .popular-title{
        max-width: 992px;
        margin-top: 0;
        padding:0;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .popular-title h2{
        margin:0;
        padding:0;
    }
    .popular-card-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2%;
    }
    .popular-card{
        min-width: 150px;
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 144px;
    }

    /* activities-results-responsive */
    .activities-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 270px;
        justify-content: space-between;
        gap: 2%;
    }
    .activities-card{
        min-width: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 210px 1fr;
    }

    /* footer-content-responsive */
    .footer-content{
        padding: 45px 70px 0px 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }
}

/* Mobile media queries */
@media screen and (max-width: 767.8px){
    /* general properties */
    body{
        margin: auto;
    }

    /* header properties */
    header{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    .main-menu{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-menu ul{
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .main-menu li{
        width: 100%;
        height: 70px;
        border-bottom: solid 2px #F2F2F2;
    }
    .main-menu a{
        height: 70px;
        width: 100%;
    }
    .main-menu a:hover{
        border-top: inherit;
        border-bottom: 3px solid #0065FC;
    }

    /* search section properties */
    .search-section{
        margin: 20px;
    }

    .search-bar{
        max-width: 385px;
        margin-top: 35px;
    }
    .search-form{
        max-width: inherit;
        width: 100%;
    }
    .search-button-desktop{
        display: none;
    }
    .search-button-mobile{
        background-color: #0065FC;
        padding: 13px;
        border-radius: 0px 15px 15px 0px;
    }
    .filter-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .filter-button-container{
        max-width: 390px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px;
        justify-content: center;
        gap: 15px;
    }
    .filter{
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 11px;
    }
    .filter i{
        font-size: 20px;
    }

    /* results section properties */
    #results-section{
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }

    /* popular properties */
    .popular-results{
        min-width: inherit;
        max-width: inherit;
        padding: 0 20px 45px 20px;
        border-radius: 0;
    }

    .popular-content{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .popular-title{
        max-width: none;
        width: 100%;
    }

    /* accomodation properties */
    .city-results{
        padding: 20px;
        background-color: white;
        border-radius: 20px;
    }
    .accommodation-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .accommodation-card{
        max-width: 335px;
        width: 100%;
    }
    .container-show-more-button{
        display: none;
    }

    /* activites properties */
    #activities-section{
        margin-top: 0;
        padding: 0 20px 80px 20px;
    }
    .activities-grid{
        flex-direction: column;
        align-items: center;
        max-height: none;
    }
    .activities-card{
        min-width: 182px;
        max-width: 335px;
        width: 100%;
        grid-template-rows: 134px 56px;
    }

    /* footer properpties */
    footer{
        margin-top: 0;
    }
    .footer-container{
        height: 100%
    }
    .footer-content{
        padding: 35px 70px 35px 30px;
        flex-direction: column;
        gap: 40px;
    }
}




